---
import { LocationOutline } from '@vicons/ionicons5';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';
import Player from './Player.astro';
import PostListBar from '@dynamic/PostListBar';
import { DocumentText } from '@vicons/ionicons5';
import PhotoView from '@dynamic/PhotoView';
import { generateExcerpt, generateImageList } from '@utils/index';
interface Props {
  posts: CollectionEntry<'posts'>[] | undefined;
}
const { posts } = Astro.props;

const basicUrl = Astro.site?.href;
---

<div class="p-4 gap-12 grid">
  {
    !posts ? (
      <div class="text-sm text-slate-400 text-center flex justify-center items-center flex-col py-10">
        <DocumentText class="w-20 mb-5" />
        POST NOT FOUND
      </div>
    ) : null
  }
  {
    posts?.map((post) => {
      return (
        <article class="">
          <div>
            <div class="flex justify-between">
              <div class="flex">
                <img src={post.data.avatar} alt="avatars" class="w-12 h-12 rounded" />
                <div class="pl-4 text-slate-500 flex flex-col justify-between">
                  <div class="text-sm font-bold">{post.data.author}</div>
                  <div class="text-sm font-bold cursor-pointer">
                    <a href={`/${post.slug}`}>{post.data.title}</a>
                  </div>
                </div>
              </div>
              <div class="text-xs text-slate-500">
                <FormattedDate date={post.data.date} />
              </div>
            </div>
            <div>
              <div class="text-sm text-slate-500/80 pt-4 pl-16 line-clamp-5">
                {generateExcerpt(post.body)}
              </div>
              <div>
                {post.data.type === 'music' ? (
                  <div class="pt-4 pl-16">
                    <Player {...post.data.music} />
                  </div>
                ) : null}
                <PhotoView client:load imgList={generateImageList(post.body)} />
              </div>
              <div class="text-xs text-slate-500/80 pt-4 pl-16 flex items-center">
                <LocationOutline class="w-4 mr-1 text-slate-500/70" />
                {post.data.location}
              </div>
              <PostListBar client:load url={`${basicUrl}` + post.slug} />
            </div>
          </div>
        </article>
      );
    })
  }
</div>
